html{
    height: 100%;
}
img{
    width: 280px;
    height: 280px;
    align: left;
    padding: 15px;
}

body{
    background: linear-gradient(to bottom right, rgb(102, 0, 102), rgb(204, 0, 102));
}

.posicion{
    display: flex;
    align: center;
}

.otros{
    margin-left: 310px;
}

a{
    margin: 50px;
}

.color1{
    color: rgb(153, 204, 255);
}

.color2{
    color: rgb(204, 255, 255);
}

pre{
    font-size: 20px;
    font-style: italic;
}

