*{
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    height: 100%;
    background: linear-gradient(to bottom, #33cccc 0%, #660066 100%);
    font-size: 18px;
}

nav{
    width: 1200px;
    margin: auto;
    background-color: #333;
    font-size: 20px;
    margin-top: 30px;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}
.menu > li:hover{
    background-color: black;
}
.submenu{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, .5);
}
.menu li:hover .submenu{
    display: block;
}
.submenu li:hover{
    background-color: rgba(0, 0, 0, .1);
}
.submenu li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
}

.submenu li a:hover {
    color: aquamarine;
}

h1,h2,h3{
    text-align: center;
}

.principal{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    margin: 70px;
    border: 1px;
    border-radius: 30px;
}
.recuadro{
    background-color: rgba(255, 255, 255, 0.1);
    margin: 30px;
    padding: 20px;
    display: flex;
    border: 1px;
    border-radius: 30px;
}
.imagenes{
    text-align: center;
    margin: 10px;
}
img{
    border: 1px;
    border-radius: 20px;
}
.imagen1{
    width: 240px;
}
.texto{
    width: 100%;
    margin: 20px;
    align-items: center;
    text-align: justify;

}
.imagen2{
    width: 90%;
}

.imagen3{
    width: 230px;
    height: auto;
}
.tres{
    background-color: rgba(255, 255, 255, 0.1);
    display: inline-flex;
    text-align: justify;
    margin: 30px;
    padding: 20px;
    border: 1px;
    border-radius: 30px;
}
.subtres{
    width: 25%;
    float: left;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px;
    border-radius: 30px;
}
.cuatro{

    display: inline-flex;
    text-align: justify;
    margin: 30px;
    padding: 20px;
    border: 1px;
    border-radius: 30px;
    align-items: center;
}
.subcuatro{
    width: 25%;
    float: left;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px;
    border-radius: 30px;
    align-items: center;
    text-align: center;
}
.imagen4{
    width: 260px;
    height: auto;
    margin: 20px;
}
 
.imagen5{
    width: 50%;
}
.botones{
    align-items: flex-end;
    text-align: center;
    bottom: 0;
    padding-top: 15px;
}
.direccion{
    bottom: 0%;
    height: 50px;
    width: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.direccion:hover{
    height: 52px;
    width: 52px;
    margin-left: 95px;
    margin-right: 95px;
}
