.submenu {
    display: none;
}

.submenu.active {
    display: block;
}

@media (min-width: 768px) {
    .submenu.left {
        left: -112px;
    }
}

@media (min-width: 500px) {
    .submenu.left {
        left: -112px;
    }
}