*{
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    height: 100%;
    background: linear-gradient(to bottom, #186F65  0%, #86C8BC 100%);
    font-size: 18px;
}

nav{
    width: 1200px;
    margin: auto;
    background-color: #333;
    font-size: 20px;
    margin-top: 30px;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}
.menu > li:hover{
    background-color: black;
}
.submenu{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, .5);
}
.menu li:hover .submenu{
    display: block;
}
.submenu li:hover{
    background-color: rgba(0, 0, 0, .1);
}
.submenu li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
}

.submenu li a:hover {
    color: aquamarine;
}

h1,h2,h3{
    text-align: center;
}

.principal{
    background-color: rgba(255, 255, 255, 0.1);
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
    width: calc(auto - 50px);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style-position: inside;
    border: 1px;
    border-radius: 20px;
}

.principal .ul{
    list-style-position: outside;
}

.simbologia{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    width: 1000px;
    display: inline-block;
    text-align: justify;
    border: 1px;
    border-radius: 20px;
}
table{
    width: 100%;
    border-collapse: collapse;
    background-color: #9999ff;
}
.simb1,.simb2{
    margin: 20px;
}


td,th{
    border: 2px solid black;
    padding: 10px;
}
.celda1{
    background-color: #ccccff;
}
.celda2{
    background-color: #99ccff;
}

.sintaxis{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    margin: 10px;
    width: 1000px;
    display: inline-block;
    text-align: justify;
    border: 1px;
    border-radius: 20px;
}
.esqueleto{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    margin: 10px;
    text-align: justify;
    display: inline-flex;
    border: 1px;
    border-radius: 20px;
}
.desc_esq{
    background-color:rgba(143, 214, 253, 0.678);
    width: 80%;
    padding: 10px;
    margin: 10px;
    border: 1px;
    border-radius: 20px;
}
.ejemplo{
    background-color: azure;
    padding: 10px;
    margin: 10px;
    width: auto;
    border: 1px solid black;
    border-radius: 20px;
    text-align: start;
}
.ejemplo:hover{
    background-color: #333;
    color: azure;
    border: 1px solid violet;
}
.aplicaciones {
    background-color: rgba(255, 255, 255, 0.1);
    display: inline-block;
    margin: 10px;
    padding: 10px;
    text-align: justify;
    list-style: inside;
    align-items: center;
    border: 1px;
    border-radius: 20px;
}
.apli_tabla{
    padding: 10px;
    background-color: rgba(143, 253, 253, 0.678);
    width: 1200px;
    border-radius: 20px;
}
.apli_tabla1{
    padding: 10px;
    background-color: rgba(143, 253, 253, 0.678);

    border-radius: 20px;
}

.aplicaciones ul{
    padding: 10px;
}
.ultimo{
    display: flex;
    text-align: justify;
}
.paradigma{
    background-color: rgba(142, 255, 255, 0.532);
    margin: 10px;
    padding: 10px;
    height: fit-content;
    border: 1px solid black;
    border-radius: 20px;
    width: 70%;
}
.ejemploprog{
    background-color: rgba(255, 255, 255, 0.1);
    margin: 10px;
    padding: 10px;
    width: 50%;
    border: 1px;
    border-radius: 20px;
    text-align: justify;
}

.botones{
    align-items: flex-end;
    text-align: center;
    bottom: 0;
    padding-top: 15px;
}
.direccion{
    bottom: 0%;
    height: 50px;
    width: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.direccion:hover{
    height: 52px;
    width: 52px;
    margin-left: 95px;
    margin-right: 95px;
}